@CHARSET "ISO-8859-1";

body{background-color:#efefef; font-family:sans-serif; width:750px; margin:0 auto;}
p{font-size:15px;}
*{margin:0; padding:0; border:0;}
a{text-decoration:none;}

.page{width:75%; max-width:800px; margin:0 auto; text-align:center; padding:50px 0;}

/* Winner page -----------------*/
#teaser{height:300px; background:url("../img/winactie-header.jpg")no-repeat center center; background-size:cover; position:relative; text-align:center;}
#teaser #logoContainer{width:100%; position:absolute; top:0; left:0; height:76px; background-color:rgba(255,255,255,0.7);}
#teaser #logoContainer #logo{width:270px; height:100%; position:absolute; top:0; left:15px; background:url("../img/ocs-logo.png")no-repeat center center; background-size:contain;}
#teaser h1{display:inline-block; padding:15px 45px; color:#fff; background-color:rgba(243, 119, 32, 0.7); font-size:30px; font-family:PT Sans; position:absolute; font-weight:200; top:50%; left:50%; transform:translate(-50%, -50%);}


/* Home */
#buttonContainer{margin-top:50px;}
.button{transition:.2s; cursor:pointer; background-color:#137fbf; font-size:16px; color:#fff; padding:10px 12px; border-radius:5px; display:inline-block; position:relative; z-index:10;}
.button:hover{opacity:.7;}
.button.new{background-color:green;}
.button.back{background-color:#7e7e7e;}

fieldset{border: none; padding: 0; margin: 0;}
.error p{color:red;}

.spinnerButton{
    font-size: 25px;
    padding: 25px 35px;
    background-color: green;
    border-radius: 10px;
    display: inline-block;
    margin: 0 auto;
}

#promotionContainer .promotion{display:block; padding:25px; margin:20px 0; border-radius:10px; background-color:#fff; transition:.2s; position:relative;}
#promotionContainer .promotion .promoLink{width:100%; height:100%; position:absolute; top:0; left:0;}
#promotionContainer .promotion .delete{background-color:#bf1313;  font-size:16px; position:absolute; right:25px; top:50%; transform:translateY(-50%); }
#promotionContainer .promotion h3{margin-bottom:5px; font-size:22px;}
#promotionContainer .promotion .date{margin-bottom:15px; font-size:12px;}
/*#promotionContainer .promotion:hover{background-color:rgba(256,256,256,.5);}*/
#promotionContainer .promotion ul{list-style-type:none;}
#promotionContainer .promotion ul li{}
#promotionContainer .promotion ul li p{display:inline-block;}
#promotionContainer .promotion ul li p.label{font-weight:bold;}
#promotionContainer .promotion ul li p.value{}
#promotionContainer .promotion .note{margin-top:20px;}

/* CONTENT - WINNER PAGE*/
#content{margin:0 auto; width:80%; max-width:1200px; text-align:center; margin-top:10px; height:350px; position:relative;}
#content .spinner{margin-bottom:56px;}
#content .spinner.done{}
#content h2{font-size:28px;}
#content h2 span{color: #fff; background-color: #f37720; padding: 13px 14px;}
#content #buttonContainer{position:absolute; bottom:0; left:50%; transform:translateX(-50%);}

