<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Promoties laden</title>
<link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
	<form id="winnerForm" action="set-dynamically/" method="POST">
		<input id="winnerPromoId" name="promoId" type="hidden" value=""/>
	</form>

	<form id="resetWinnerForm" action="/set-dynamically/" method="POST">
		<input id="resetWinnerId" name="resetWinnerId" type="hidden" value=""/>
	</form>
	
	<form id="deleteForm" action="" method="POST">	
		<input id="deletePromoId" name="promoId" type="hidden" value=""/>
	</form>

	<h1>Promoties</h1>
	<a href="/promo/new" class="action new button"></a>

	
	<div id="promotionContainer">
		<div class="promotion" th:each="promo : ${promotions}">
			<a class="promoLink" th:href="${'/promo/' + promo.getId() + '/edit'}"></a>
			<h3 th:text="${promo.getTitle()}"></h3>
			<p class="date" th:text="${promo.getCreationDate()}"></p>

			<ul>
				<li>
					<p class="label">Aantal codes:</p>
					<p class="value" th:text="${promo.getNumberOfCodes()}"></p>
					<!-- <a href="">Bekijk codes</a> -->
				</li>
				<li>
					<p class="label">Aantal deelnemers:</p>
					<p class="value" th:text="${promo.getNumberOfParticipants()}"></p>
					<!-- <a href="">Bekijk codes</a> -->
				</li>
				<!--<li><p class="label">Winnaar:</p>-->
					<!--<p th:if="${promo.getWinner != null}" class="value" th:inline="text">[[${promo.value.winner.getName() + ' (' + promo.value.winner.getCode() + ')'}]]</p>-->
					<!--<button th:if="${promo.getWinner() == null and promo.getNumberOfParticipants() &gt; 0}" class="button winner" th:onclick="'javascript:pickWinner(\''+ ${promo.key} + '\');'">Kies winnende code</button>-->
					<!--<p th:if="${promo.value.numberOfParticipants == 0}">Voeg eerst deelnemers toe om een winnaar te kiezen</p>-->
					<!--<button th:if="${promo.value.winner != null}" class="reset" th:onclick="'javascript:resetWinner(\''+ ${promo.key} + '\');'">Reset winnaar</button>-->
				<!--</li>-->
			</ul>

			<button class="delete action button" th:onclick="'javascript:deletePromo(\''+ ${promo.getId()} + '\');'"></button>
		</div>
	</div>

	<div class="buttonContainer bottom">
		<a href="/" class="button back">Terug naar home</a>
	</div>
	

	
	<script>
		function pickWinner(promoId){		
			document.getElementById("winnerPromoId").value = promoId;
			document.getElementById("winnerForm").action = "/promo/" + promoId + "/winner/";
			document.getElementById("winnerForm").submit();
		}

		function resetWinner(promoId){
			document.getElementById("resetWinnerId").value = promoId;
			document.getElementById("resetWinnerForm").action = "/promo/" + promoId + "/winner/reset";
			document.getElementById("resetWinnerForm").submit();
		}
		
		function deletePromo(promoId){
			document.getElementById("deletePromoId").value = promoId;
			document.getElementById("deleteForm").submit();
		}
	</script>

</body>
</html>