<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<script th:src="@{/slotmachine/jquery-1.11.3.js}"></script>
		<script th:src="@{/slotmachine/jquery.easing.1.3.js}"></script>
		<script th:src="@{/slotmachine/ezslots.js}"></script>
		<link th:href="@{/slotmachine/ezslots.css}" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" th:href="@{/style.css}" />
	</head>
	
	<body>
	<div id="teaser">
		<div id="logoContainer">
			<span id="logo"></span>
		</div>
		<h1>WINACTIE</h1>
	</div>
	
	<form id="activateSpinnerForm" th:action="@{spin/}" method="POST" th:classappend="${spin == true} ? ready">
		<input id="activateSpinner" name="activateSpinner" type="hidden" value="1"/>
	</form>
	
	<input id="winningCode" type="hidden" th:value="${winningCode}"/>
	

	

<style>
	body{width:100%; background-color:white; padding:0px; margin:0px; }
	#ezslots2 .window {font-size:65px; font-family:arial,helvetica,sans-serif; border:1px solid black; margin-top:40px;}
</style>

	<div id="content">
		<div id="ezslots2" class="spinner"></div>
		<button th:if="${spin == false}" id="spin" th:onclick="'javascript:activateSpinner();'" class="spinnerButton button">Kies de winnaar!</button>
		<h2 id="winner" style="display:none;" th:inline="text">Open Circle Solutions feliciteert <span>[[${winner}]]</span> met de winst!</h2>

		<div id="buttonContainer">
			<a href="/" class="button back">Terug naar home</a>
			<a href="/promo/" class="button back">Terug naar alle acties</a>
		</div>
	</div>

<script>

function activateSpinner(){
	$('#activateSpinnerForm').submit();
}

$(function(){
		
	var misc = ['0','1','2','3','4','5','6','7','8','9','A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];

	
	var winningCode = document.getElementById("winningCode").value.toUpperCase().split('');
	console.log(winningCode);
	
	var matchArray = [];
	
	for(i in winningCode){
		var character = winningCode[i];
		var matchIndex = misc.indexOf(character);
		matchArray.push(matchIndex);		
	}
	
	console.log(matchArray);
		
	var ezslot2 = new EZSlots("ezslots2",{"reelCount":10,"startingSet":[0,0,0,0,0,0,0,0,0,0], "winningSet":matchArray,"symbols":misc,"height":110,"width":75});
	
	if($(".ready").length > 0){
		ezslot2.win();

		setTimeout(function(){
			$(".spinner").addClass("done");
		}, 7750);

		// Winning code is shown after 8500ms (current setting), show winner after 9500ms
		setTimeout(function(){
			$("#winner").fadeIn();
		}, 8250);
	}
});

</script>
	
	</body>
</html>